.component {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  background-color: var(--darkBgDarker);
  border-radius: 0 2rem 0 0;
  overflow-y: scroll;
  direction: rtl;
}

.component::-webkit-scrollbar {
  width: 5px;
}
.component::-webkit-scrollbar-track {
  background: transparent;
}
.component::-webkit-scrollbar-button {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.component::-webkit-scrollbar-thumb {
  background-color: var(--accentBlue);
  border-radius: 1rem;
}
