.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
}

.rowHalf {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  margin: 7px auto 0 7px;
  color: var(--darkTextBold);
  font-size: 12px;
  cursor: text;
}

.form input,
.form textarea {
  width: 100%;
  padding: 5px 7px;
  background-color: var(--darkBgDarker);
  border: 1px solid var(--accentBlue);
  border-radius: 11px;
  color: var(--darkTextBold);
  outline: none;
}

.form input {
  font-size: 12px;
}

.form textarea {
  height: 150px;
  margin-top: 15px;
  font-size: 15px;
  resize: none;
  overflow-y: scroll;
}

.form button {
  padding: 12px 42px;
  background-color: var(--accentBlue);
  border: 1px solid var(--accentBlue);
  border-radius: 10px;
  color: var(--darkTextNeutral);
  font-size: 14px;
  cursor: pointer;
}

.form button:hover,
.form button:active {
  background-color: var(--darkBgDarker);
}
.form button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  background-color: var(--accentBlue);
}

.form textarea::-webkit-scrollbar {
  width: 5px;
}
.form textarea::-webkit-scrollbar-track {
  background: transparent;
}
.form textarea::-webkit-scrollbar-button {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.form textarea::-webkit-scrollbar-thumb {
  background-color: var(--accentBlue);
  border-radius: 1rem;
}
