.component {
  display: flex;
  align-items: center;
}

.branding {
  padding: 15px 20px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  background-color: var(--darkBgDarker);
  border: none;
  border-radius: 1rem;
  color: var(--darkTextBold);
  font-family: monospace;
  font-size: 16px;
}

.branding > img {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

.right {
  width: 300px;
  height: 100%;
  margin: 0 0 0 auto;
  display: grid;
  place-items: center;
  background-color: var(--darkBgDarker);
  border-radius: 0 0 0 1rem;
}

.right > button {
  padding: 12px 28px;
  background-color: transparent;
  border: 1px solid var(--accentBlue);
  border-radius: 10px;
  color: var(--darkTextNeutral);
  font-size: 14px;
  cursor: pointer;
}
.right > button:hover,
.right > button:active {
  background-color: var(--darkBgLighter);
}
