.heading {
  width: 100%;
  margin-top: 20vh;
  text-align: center;
}

.heading > h2,
.heading > h1 {
  color: var(--accentGreen);
  text-shadow: 1px 1px var(--accentBlue);
}

.heading > p {
  margin-top: 0.5rem;
  color: var(--darkTextBold);
  text-shadow: 0.5px 0.5px var(--accentBlue);
  font-size: 18px;
}
