.heading {
  width: 100%;
  margin-top: 20vh;
  text-align: center;
}

.heading > h2,
.heading > h1 {
  color: var(--accentGreen);
  text-shadow: 1px 1px var(--accentBlue);
}

.heading > p {
  margin-top: 0.5rem;
  color: var(--darkTextBold);
  text-shadow: 0.5px 0.5px var(--accentBlue);
  font-size: 18px;
}

.image {
  width: 250px;
  height: 250px;
  margin: 24px auto 12px auto;
  position: relative;
}
.image > img,
.image > div {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}
.image > div {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  box-shadow: 0 0 5px var(--accentBlue);
}

.socials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials svg {
  margin: 5px;
  font-size: 35px;
  color: var(--darkTextBold);
  -webkit-filter: drop-shadow(0 0 1px var(--accentBlue));
  filter: drop-shadow(0 0 1px var(--accentBlue));
  cursor: pointer;
}
.socials svg:hover,
.socials svg:active {
  color: var(--darkTextNeutral);
}
