.heading {
  width: 100%;
  margin-top: 15vh;
  text-align: center;
}

.heading > h2,
.heading > h1 {
  color: var(--accentGreen);
  text-shadow: 1px 1px var(--accentBlue);
}

.heading > p {
  margin: 0.5em 0;
  color: var(--darkTextBold);
  text-shadow: 0.5px 0.5px var(--accentBlue);
  font-size: 18px;
}

.socials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials svg {
  width: 30px;
  height: 30px;
  margin: 5px;
  fill: var(--darkTextBold);
  cursor: pointer;
}
.socials svg:hover,
.socials svg:active {
  fill: var(--darkTextNeutral);
}
