* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #252848;
}

.Reactivated {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 'header header' 'nav main';
}

.Reactivated header {
  grid-area: header;
}

.Reactivated nav {
  grid-area: nav;
}

.Reactivated main {
  grid-area: main;
}

.Reactivated header {
  z-index: 1;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 1rem 2rem #252848;
}

.Reactivated header .user {
  width: 250px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  border: 1px solid #555a85;
  border-radius: 1rem;
  color: #555a85;
  user-select: none;
  cursor: pointer;
}

.Reactivated header .user .avatar {
  width: 40px;
  height: 40px;
  margin: 7px 14px 7px 7px;
}

.Reactivated header .user:hover, .Reactivated header .user:active {
  background-color: #202340;
  color: #e7e8ea;
}

.Reactivated header .contact-box {
  width: 300px;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #202340;
  border-radius: 0 0 0 1rem;
}

.Reactivated header .contact-box button {
  padding: 12px 28px;
  background-color: transparent;
  border: 1px solid #5778f2;
  border-radius: 10px;
  color: #e7e8ea;
  font-size: 14px;
  cursor: pointer;
}

.Reactivated header .contact-box button:hover, .Reactivated header .contact-box button:active {
  background-color: #2e3157;
}

.Reactivated nav {
  z-index: 1;
  width: 300px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  background-color: #202340;
  border-radius: 0 2rem 0 0;
  overflow-y: scroll;
  direction: rtl;
}

.Reactivated nav::-webkit-scrollbar {
  width: 5px;
}

.Reactivated nav::-webkit-scrollbar-track {
  background: transparent;
}

.Reactivated nav::-webkit-scrollbar-button {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.Reactivated nav::-webkit-scrollbar-thumb {
  background-color: #5778f2;
  border-radius: 1rem;
}

.Reactivated nav .nav-item {
  height: 60px;
  display: flex;
  align-items: center;
  color: #555a85;
  text-decoration: none;
  direction: ltr;
  cursor: pointer;
}

.Reactivated nav .nav-item:hover, .Reactivated nav .nav-item:active {
  color: #858ab5;
  text-decoration: underline;
}

.Reactivated nav .nav-item .nav-icon {
  width: 30px;
  height: 30px;
  margin: 0 20px 0 30px;
  fill: #555a85;
}

.Reactivated nav .selected {
  color: #858ab5;
  background: linear-gradient(to right, #202340 42px, #252848 69%);
}

.Reactivated nav .selected .nav-icon {
  fill: #5778f2;
}

.Reactivated main {
  width: calc(100vw - 300px);
  height: calc(100vh - 100px);
  display: grid;
  place-items: center;
  overflow-y: scroll;
}

.Reactivated main::-webkit-scrollbar {
  width: 5px;
}

.Reactivated main::-webkit-scrollbar-track {
  background: transparent;
}

.Reactivated main::-webkit-scrollbar-button {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.Reactivated main::-webkit-scrollbar-thumb {
  background-color: #5778f2;
  border-radius: 1rem;
}

.Reactivated main .home {
  width: 100%;
  height: 100%;
  position: relative;
}

.Reactivated main .home .text-area {
  margin-bottom: 50px;
  padding: 42px;
  text-align: right;
}

.Reactivated main .home .text-area h2,
.Reactivated main .home .text-area h1 {
  color: #68c180;
  text-shadow: 1px 1px #5778f2;
}

.Reactivated main .home .text-area p {
  margin-top: 1rem;
  color: #858ab5;
}

.Reactivated main .home .text-area p a,
.Reactivated main .home .text-area p span {
  color: #e7e8ea;
  text-decoration: none;
  cursor: pointer;
}

.Reactivated main .home img {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.Reactivated .modal-bg {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.Reactivated .modal-bg .modal-content {
  background-color: #252848;
  box-shadow: 0 0 42px #000;
  border-radius: 1rem;
  color: #555a85;
  position: relative;
}

.Reactivated .modal-bg .modal-content .modal-close {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 1;
  width: 25px;
  height: 25px;
  background-color: #e45d71;
  border-radius: 100%;
  color: #202340;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.Reactivated .modal-bg .modal-content .modal-close:hover, .Reactivated .modal-bg .modal-content .modal-close:active {
  background-color: #c83232;
}

.Reactivated .modal-bg .modal-content .modal-login {
  min-width: 300px;
  max-width: 600px;
  min-height: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Reactivated .modal-bg .modal-content .modal-login h6 {
  margin-bottom: 5px;
  font-size: 16px;
}

.Reactivated .modal-bg .modal-content .modal-login .top-card {
  margin-bottom: 50px !important;
}

.Reactivated .modal-bg .modal-content .modal-login .user-card {
  width: 110px;
  height: 110px;
  margin: 7px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #5778f2;
  border-radius: 1rem;
  color: #5778f2;
  cursor: pointer;
}

.Reactivated .modal-bg .modal-content .modal-login .user-card img {
  width: 55px;
  height: 55px;
  margin-bottom: 5px;
}

.Reactivated .modal-bg .modal-content .modal-login .users-wrap {
  max-height: 150px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
}

.Reactivated .modal-bg .modal-content .modal-login .users-wrap::-webkit-scrollbar {
  width: 5px;
}

.Reactivated .modal-bg .modal-content .modal-login .users-wrap::-webkit-scrollbar-track {
  background: transparent;
}

.Reactivated .modal-bg .modal-content .modal-login .users-wrap::-webkit-scrollbar-button {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.Reactivated .modal-bg .modal-content .modal-login .users-wrap::-webkit-scrollbar-thumb {
  background-color: #5778f2;
  border-radius: 1rem;
}

.Reactivated .modal-bg .modal-content .modal-login .users-wrap .plus {
  font-size: 42px;
}

.Reactivated .modal-bg .modal-content .modal-new-user {
  width: 600px;
  height: 450px;
  display: flex;
}

.Reactivated .modal-bg .modal-content .modal-new-user .left,
.Reactivated .modal-bg .modal-content .modal-new-user .right {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Reactivated .modal-bg .modal-content .modal-new-user .left .avatars-wrapper {
  width: 220px;
  display: flex;
  flex-flow: row wrap;
}

.Reactivated .modal-bg .modal-content .modal-new-user .left .avatars-wrapper .avatar {
  width: 80px;
  height: 80px;
  margin: 10px 15px;
  padding: 10px;
  border-radius: 1rem;
  cursor: pointer;
}

.Reactivated .modal-bg .modal-content .modal-new-user .left .avatars-wrapper .selected {
  filter: drop-shadow(0 0 10px #9673f7);
}

.Reactivated .modal-bg .modal-content .modal-new-user .left input {
  width: 200px;
  padding: 12px 28px;
  background-color: #2e3157;
  border: 1px solid #9673f7;
  border-radius: 10px;
  color: #e7e8ea;
  font-size: 14px;
}

.Reactivated .modal-bg .modal-content .modal-new-user .right .create {
  padding: 12px 28px;
  background-color: transparent;
  border: 1px solid #5778f2;
  border-radius: 10px;
  color: #e7e8ea;
  font-size: 14px;
  cursor: pointer;
}

.Reactivated .modal-bg .modal-content .modal-new-user .right .create:hover, .Reactivated .modal-bg .modal-content .modal-new-user .right .create:active {
  background-color: #2e3157;
}

.Reactivated .modal-bg .modal-content .modal-contact {
  width: 500px;
  min-height: 200px;
}

.Reactivated .modal-bg .modal-content .modal-contact h2 {
  margin: 15px 25px 0;
  color: #858ab5;
}

.Reactivated .modal-bg .modal-content .modal-contact p {
  margin: 10px 25px 30px 25px;
  color: #858ab5;
  font-size: 14px;
}

.Reactivated .modal-bg .modal-content .modal-contact form {
  margin: 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Reactivated .modal-bg .modal-content .modal-contact form input,
.Reactivated .modal-bg .modal-content .modal-contact form textarea {
  background-color: #202340;
  border: 1px solid #5778f2;
  border-radius: 10px;
  color: #858ab5;
  outline: none;
}

.Reactivated .modal-bg .modal-content .modal-contact form textarea {
  min-width: 450px;
  min-height: 150px;
  margin-top: 15px;
  padding: 5px 7px;
  font-size: 15px;
  resize: none;
  overflow-y: scroll;
}

.Reactivated .modal-bg .modal-content .modal-contact form textarea::-webkit-scrollbar {
  width: 5px;
}

.Reactivated .modal-bg .modal-content .modal-contact form textarea::-webkit-scrollbar-track {
  background: transparent;
}

.Reactivated .modal-bg .modal-content .modal-contact form textarea::-webkit-scrollbar-button {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.Reactivated .modal-bg .modal-content .modal-contact form textarea::-webkit-scrollbar-thumb {
  background-color: #5778f2;
  border-radius: 1rem;
}

.Reactivated .modal-bg .modal-content .modal-contact form textarea::placeholder {
  opacity: 1;
}

.Reactivated .modal-bg .modal-content .modal-contact form .row {
  display: flex;
  align-items: center;
}

.Reactivated .modal-bg .modal-content .modal-contact form .row .group .inp-group {
  height: 50px;
  position: relative;
}

.Reactivated .modal-bg .modal-content .modal-contact form .row .group .inp-group input {
  width: 200px;
  margin-top: 15px;
  padding: 5px 7px;
  font-size: 12px;
}

.Reactivated .modal-bg .modal-content .modal-contact form .row .group .inp-group input::placeholder {
  opacity: 0;
}

.Reactivated .modal-bg .modal-content .modal-contact form .row .group .inp-group input:focus::placeholder {
  opacity: 1;
}

.Reactivated .modal-bg .modal-content .modal-contact form .row .group .inp-group input:focus ~ label {
  top: -5px;
}

.Reactivated .modal-bg .modal-content .modal-contact form .row .group .inp-group label {
  position: absolute;
  top: 19px;
  left: 7px;
  color: #858ab5;
  font-size: 14px;
  cursor: text;
  transition: all 0.3s;
}

.Reactivated .modal-bg .modal-content .modal-contact form .row button {
  padding: 12px 28px;
  background-color: transparent;
  border: 1px solid #5778f2;
  border-radius: 10px;
  color: #e7e8ea;
  font-size: 14px;
  cursor: pointer;
  margin-left: 100px;
  background-color: #5778f2;
}

.Reactivated .modal-bg .modal-content .modal-contact form .row button:hover, .Reactivated .modal-bg .modal-content .modal-contact form .row button:active {
  background-color: #2e3157;
}

.Reactivated .modal-bg .modal-content .modal-contact form .row button:hover, .Reactivated .modal-bg .modal-content .modal-contact form .row button:active {
  background-color: #202340;
}

.Reactivated .modal-bg .modal-content .modal-contact .sending {
  margin: 0;
  color: #e7e8ea;
  font-size: 20px;
}

.Reactivated .modal-bg .pin-code table .display {
  height: 50px;
  font-size: 30px;
  position: relative;
}

.Reactivated .modal-bg .pin-code table .display .bkspc {
  width: 42px;
  height: 42px;
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
}

.Reactivated .modal-bg .pin-code table button {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 100%;
  font-size: 26px;
  cursor: pointer;
}

.Reactivated .modal-bg .pin-new button {
  background-color: #202340;
  border: none;
  color: #858ab5;
}

.Reactivated .modal-bg .pin-new button:hover, .Reactivated .modal-bg .pin-new button:active {
  background-color: #555a85;
  color: #e7e8ea;
}

.Reactivated .modal-bg .pin-log {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 1rem;
}

.Reactivated .modal-bg .pin-log table .display {
  color: #858ab5;
}

.Reactivated .modal-bg .pin-log table button {
  background-color: #5778f2;
  border: none;
  color: #202340;
}

@media (prefers-reduced-motion: no-preference) {
  .Reactivated .modal-bg {
    animation: fade-in 0.3s linear;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mobile-error {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Reactivated {
    display: none;
  }
  .mobile-error {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-error img {
    width: 250px;
    height: 250px;
    margin: 100px 0 42px 0;
  }
  .mobile-error p {
    margin: 0 15px;
    color: #858ab5;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */