$background: #252848;
$darker: #202340;
$lighter: #2e3157;
$textSoft: #555a85;
$textBold: #858ab5;
$textNeutral: #e7e8ea;
$accentBlue: #5778f2;
$accentGreen: #68c180;
$accentRed: #e45d71;
$accentPurple: #9673f7;

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-button {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $accentBlue;
    border-radius: 1rem;
  }
}

@mixin btn-default {
  padding: 12px 28px;
  background-color: transparent;
  border: 1px solid $accentBlue;
  border-radius: 10px;
  color: $textNeutral;
  font-size: 14px;
  cursor: pointer;
  &:hover,
  &:active {
    background-color: $lighter;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
}

.Reactivated {
  width: 100vw;
  height: 100vh;
  @import './Header';
  .not-header {
    display: flex;
    @import './Nav';
    .main {
      width: calc(100vw - 300px);
      height: calc(100vh - 100px);
      display: grid;
      place-items: center;
      @import './Home';
    }
  }

  @import './Modal';
}

.mobile-error {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Reactivated {
    display: none;
  }

  .mobile-error {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 250px;
      height: 250px;
      margin: 100px 0 42px 0;
    }
    p {
      margin: 0 15px;
      color: $textBold;
      text-align: center;
    }
  }
}
