/* NAV BAR */
.component {
  display: flex;
  flex-direction: column;
  background-color: var(--darkBgDarker);
  border-radius: 0 2rem 0 0;
  direction: rtl;
}

/* NAV ITEM */
.item {
  padding: 15px 0;
  display: flex;
  align-items: center;
  color: var(--darkTextSoft);
  direction: ltr;
  cursor: pointer;
}

.item:hover,
.item:active {
  color: var(--darkTextBold);
  text-decoration: underline;
}

.item > svg {
  width: 30px;
  height: 30px;
  margin: 0 25px;
  fill: var(--darkTextSoft);
}

/* CURRENT LOCATION */
.selected {
  color: var(--darkTextBold);
  background: linear-gradient(to left, var(--accentBlue) -300%, var(--darkBgDarker));
}

.selected > svg {
  fill: var(--accentBlue);
}
